.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.bookmarks-navigation-wrapper {
    flex-grow: 1;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarks-navigation {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.bookmarks-details {
    background-color: rgb(236, 236, 236);
    flex-grow: 1;
    min-width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
